/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Montserrat:wght@300;400;600;700&display=swap');

/* Fonts Apps */
body {
	font-family: Lora;
}

.bg-header h5,
.card p,
.nav-item a,
.new-costum-jumbotron .btn {
	font-family: Montserrat
}

/* font-size: 25px; */
.bg-header h5,
.bg-header h6,
.costum-jumbotron h5,
.card h6,
.nav-item a,
.new-costum-jumbotron .btn,
.new-costum-jumbotron .price p,
.new-costum-jumbotron h6,
.new-costum-jumbotron p {
	font-size: 25px;
}

/* font-weight: 700; */
.user-text,
.costum-jumbotron h5,
.costum-jumbotron h3,
.text-menu {
	font-weight: 700;
}

/* font-weight: 600; */
.bg-header h5,
.new-costum-jumbotron .btn,
.new-costum-jumbotron .price p,
.new-costum-jumbotron h6,
.new-costum-jumbotron p {
	font-weight: 600;
}

/* font-weight: 500; */
.bg-header h6,
.costum-jumbotron h6 {
	font-weight: 500;
}

/* text-color */
.costum-jumbotron h3,
.text-menu,
.nav-item a,
.card h6,
.card p,
.costum-jumbotron h5,
.new-costum-jumbotron hr {
	color: #302E37;
}

/* opacity: 0; */
.bg-header a .close-img,
.costum-jumbotron,
.store-text,
.card,
.new-costum-jumbotron {
	opacity: 0;
}

/* opaciti: 1; transform: translate(0, 0); */
.costum-jumbotron.show-jumbotron,
.store-text.show-text,
.card.show,
.new-costum-jumbotron.show-costum-jumbotron {
	opacity: 1;
	transform: translate(0, 0);
}

/* Header */
.bg-header {
	background-image: url(../img/kuliner.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	background-repeat: no-repeat;
	min-height: 350px;
}

.user-text {
	color: #FFCA05;
	font-size: 30px;
}

.user-img {
	border-radius: 50%;
	float: right;
	width: 100px;
	height: 100px;
}

.hidden {
	display: none;
}

/* Costum Jumbotron */
.costum-jumbotron {
	min-height: 200px;
	background-color: #fff;
	margin-top: -60px;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
}

.costum-jumbotron h3 {
	font-size: 35px;
}

.costum-jumbotron h6 {
	font-size: 22px;
}

.costum-jumbotron img {
	height: 500px;
	width: 350px;
	margin-top: -136px;
	position: absolute;
}

.costum-jumbotron {
	transform: translate(0, -40px);
	transition: 1.2s
}

.store-text {
	transform: translate(-50px, 0);
	transition: .8s;
}

/* Content */
.card {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-top: 50px;
	transform: translate(0, -40px);
	transition: .8s;
}

.card img {
	border-radius: 10px;
}

.img-menu {
	height: 230px;
}

.icon-plus {
	position: absolute;
	margin-left: 85%;
	margin-top: -65%;
	width: 40px;
	height: 40px;
}

.text-menu {
	font-size: 35px;
	margin-top: 50px;
}

.card h6 {
	font-weight: 400;
}

.card p {
	font-size: 22px;
	font-weight: 400;
}

/* Nav */
.nav-item a {
	font-weight: 300;
	margin-top: 50px;
}

.nav-item .active {
	display: inline-block;
	color: black;
	background-color: white;
	border-radius: 2em;
	padding: 0.5em 1.5em;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
	margin-right: 15px;
}

/* New Costum Jumbotron */
.new-costum-jumbotron {
	margin-top: 150px;
	background-color: #1B1822;
	border-radius: 15px 15px 0 0;
}

.new-costum-jumbotron .btn {
	border-radius: 50px;
	color: #1B1822;
}

.new-costum-jumbotron .price p {
	color: #fff;
}

.new-costum-jumbotron h6,
.new-costum-jumbotron p {
	color: #D6D6D8;
}

.new-costum-jumbotron {
	transform: translate(0, 40px);
	transition: 1.2s;
}

/* Responsive */
@media screen and (max-width: 992px) {
	.bg-header {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: -40px 0;
		min-height: 300px;
	}

	.user-img {
		margin-top: 45px;
		width: 40px;
		height: 40px;
	}

	.bg-header h5,
	.costum-jumbotron h5,
	.text-menu,
	.card h6 {
		font-size: 15px;
	}

	.new-costum-jumbotron h6,
	.new-costum-jumbotron p,
	.new-costum-jumbotron .btn,
	.new-costum-jumbotron .price p,
	.card p,
	.nav-item a,
	.costum-jumbotron h6 {
		font-size: 12px;
	}

	.user-text {
		font-size: 20px;
	}

	.bg-header h6,
	.costum-jumbotron h3 {
		font-size: 25px;
	}

	.costum-jumbotron img {
		height: 310px;
		width: 110px;
		margin-top: -78px;
		position: absolute;
	}

	.nav-item a,
	.card {
		margin-top: 0;
	}

	.card {
		width: 150px;
		min-height: 150px;
	}

	.img-menu {
		height: 80px;
	}

	.icon-plus {
		margin-left: 80%;
		margin-top: -50%;
		width: 20px;
		height: 20px;
	}

	.new-costum-jumbotron {
		margin-top: 80px;
	}
}

@media screen and (max-width: 960px) {
	.bg-header {
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

@media screen and (max-width: 576px) {
	.bg-header {
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.bg-header a .close-img {
		opacity: 1;
		margin-left: -13px;
	}
}